.navmenu {    
    font-weight: 500;
    background-color: rgb(15, 61, 99); 
}
.navbar{
    background-color: rgb(15, 61, 99);
}

.navbar{
    justify-content: flex-end;
}

.navbar a{
    color: burlywood;
    font-weight: bold;
    font-size: 20px;
    
    margin-left: 10px;
}
.navbar a:hover{
    color: white;
}


