input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    background: #80aedb;
    border-radius: 1px;
    box-sizing: border-box;
}
input[type="checkbox"]:checked{
   background-color: brown;
}
.form-seat label{
    font-size: 15px;
    margin-right: 5px;;
}