.form-seat input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    background: seagreen;
    border-radius: 1px;
    box-sizing: border-box;
}
.form-seat input[type="checkbox"]:checked{
   background-color: brown;
}
.screen-a label{
    font-size: 18px;
    margin-right: 8px;
    
}
.price{ 
    align-items: center;    
 
}