.navmenu {    
    font-weight: 500;
    background-color: #4b4350;  
}
.navbar{
    background-color: #4b4350;
}
.heading{
    color: #4b4350;
    font-size: 15px;
    font-size: x-small;
}
.heading{
    color: #4b4350;
    font-size: 15px;
    font-size: x-small;
}
