.navmenu {    
    font-weight: 500;
    background-color: rgb(124, 21, 21);
}

.navbar a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    
    margin-left: 10px;
}
.navbar a:hover{
    color: rgb(238, 196, 11);
}

