.main{
    background-image: url(../IMG/home.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    background-position: center center;
    padding: 105px;
}

.main a{
    background-color: #e7e7e7;
    border-radius: 20px;
    font-size: 15px;
   
    color: brown;
    margin-bottom: 10px;
    font-weight: bold;
    
}
.md{
    text-align: center;
}
.mainimg h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: ultra-expanded;
}
.mainimg h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: ultra-expanded;
}