.heading{
    color: #4b4350;
    font-size: 15px;
    font-size: x-small;
}

.navbar{
    background-color: #4b4350;
}
.btn-dark{
    background-color: #4b4350;
}
.body{
    background-color: #4b4350;
}